@model ChandyMishra.Models.ControllerModel

<div class="panel panel-default col-sm-4 controller" id="@Model.ControllerName">
    <h2>@Model.GetTitle()</h2>
    <h3>Deadlock: </h3>
    <p id="deadlock">@Model.Deadlock.ToString()</p>
    <h3 id="dependent">Dependent: </h3>
    @if(Model.Dependent == null)
    {
        <span>No Dependent Controllers</span>
    }
    else
    {
        @foreach(string dep in Model.Dependent)
        {
            if (dep.Equals(Model.Dependent.Last()))
            {
                <span>@dep</span>
            }
            else
            {
                <span>@dep,</span>
            }
        }
    }
    <h3>Data: </h3>
    @if (Model.TablesOwned == null)
    {
        <span>No Tables Checked Out</span>
    }
    else
    {
        @foreach (string table in Model.TablesOwned)
        {
            if (table.Equals(Model.TablesOwned.Last()))
            {
                <span>@table</span>
            }
            else
            {
                <span>@table,</span>
            }
        }
    }
</div>
